<div class="row">
    <h3>注文情報入力</h3>
        <div class="payment_method">
            <input type="radio" name="payment" value="男">クレジット
            <input type="radio" name="payment" value="女">銀行振り込み
        </div>
        <div class="address">
        
        </div>



</div>