<div class="row">
<h3 style="background-color:gray;display:inline-block">注文一覧履歴</h3>
 <table border="2">
    <tr>
        <th>注文日</th>
        <th>配送先</th>
    </tr>
    <tr>
        <td><%#=オーダの完了ができたら作る%></td>
        <td><%=%></td>
    </tr>
 </table>
</div>