thead{
    background-color:lightgray;
}
table{
    margin:auto;
    width:80%;
  
}
.light_box tr{
    background-color:lightgray;
}
h3{
    display:inline-block;
}
.btn-success{
    text-align:center;
   margin:auto
}
.confirm_box h3{
    float:left
}